[build]
  publish = "_site"
  command = "npm run build"

[dev]
  command = "npm start"
  port = 8080
  
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "no-referrer"
